* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 60rem;
  margin: 0 auto;
}

/* NAVIGATION SECTION */

.navigation {
  background-color: #4e4e4e;
}

.container-navigation {
  height: 2.78rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
}

.container-links {
  width: 25%;
}

.container-my-company {
  font-weight: 700;
  font-size: 1rem;
}

.link-lists {
  display: none;
}

.link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
}

.disabled {
  cursor: not-allowed;
}

/* FOREST SECTION */

.img-forest {
  min-height: calc(100vh - 2.78rem);
  background-image: url("images/image-forest-min.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0 auto;
}

.shadow {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}

.img-text-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.text-and-rectangle {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.long-text {
  font-weight: 700;
  font-size: 2rem;
  padding: 0 0 1.11rem;
  }

.short-text {
  font-weight: 700;
  font-size: 1rem;
  padding: 0 0 1.11rem;
}

.text-in-rectangle {
  width: 4.44rem;
  height: auto;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  border: 0.17rem solid #ffffff;
  padding: 0.55rem;
  transition: 1s;
}

.text-in-the-rectangle:hover {
  background-color: #ffffff;
  color: #000000;
}

/* EXPERT SECTION */

.about-us-container {
  background-color: #f1f1f1;
  padding: 2.22rem 0;
}

.main-text-experts {
  font-weight: 700;
  font-size: 2rem;
  color: #152d41;
  padding-bottom: 1.11rem;
}

.about-experts {
  display: flex;
  align-items: center;
}

.expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.circle {
  min-width: 12.28rem;
  height: 12.28rem;
  border-radius: 50%;
  border: 0.06rem solid #c4c4c4;
  background-color: #c4c4c4;
  background-size: cover;
  background-position: center;
}

.first-circle {
  background-image: url("images/img-woman.jpg");
}

.second-circle {
  background-image: url("images/img-man.jpg");
}

.name-expert {
  font-weight: bold;
}

/* ABOUT COMPANY SECTION */

.about-company {
  background-color: #405d78;
  height: auto;
  padding: 2.22rem 0;
}

.main-text-about-company {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 1.11rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
  border: 0.06rem solid #f1f1f1;
  width: 11rem;
  height: 10.77rem;
  font-size: 1rem;
  font-weight: 400;
  transition: 0.5s;
}

.box1 {
  position: relative;
}

.small-circle {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.06rem solid #e07a64;
  background-color: #e07a64;
  border-radius: 50%;
  position: absolute;
  top: -0.61rem;
  left: -0.61rem;
}

.box:hover {
  transform: scale(1.05);
}

/* FOOTER SECTION */

.footer {
  height: 3.94rem;
  background-color: #4e4e4e;
}

.footer-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.text-in-footer {
  color: #ffffff;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
}

.container-of-icons {
  display: flex;
  justify-content: space-between;
}

.socialmedia-icon {
  font-size: 1.72rem;
  height: auto;
  color: #ffffff;
}


/* FOOTER SECTION 2 */

.footer {
  height: 71px;
  background-color: #4e4e4e;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.text-in-footer {
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
}

.container-of-text-in-footer {
  width: 93%;
}

.container-of-icons {
  width: 7%;
}

.container-of-icons {
  display: flex;
  justify-content: space-between;
}

.socialmedia-icon {
  font-size: 31px;
  height: auto;
  color: #ffffff;
}




/* @MEDIA SECTION */

@media screen and (max-width: 768px) {
  .container {
    width: 95vw;
  }
  .main-text-experts {
    text-align: center;
  }
  .about-experts {
    flex-wrap: wrap;
    justify-content: center;
  }
  .lorem-expert {
    text-align: justify;
    margin: 1.11rem 0;
  }
  .circle {
    margin: 1.11rem;
  }
  .name-expert {
    text-align: center;
    margin: 1.11rem;
  }
  .main-text-about-company {
    text-align: center;
  }
  .container-of-company-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box {
    margin: 1.11rem 0;
  }
  .footer {
    padding: 1.11rem;
  }
  .footer-container {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .text-in-footer {
    margin-bottom: 1.11rem;
  }
  .socialmedia-icon {
    padding: 0 0.7rem;
  }
  }


  
@media screen and (min-width: 769px) {
  .container {
    width: 90vw;
  }
  
}







@media screen and (min-width: 1025px) {
  .container {
    width: 85vw;
  }

  .link-lists {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-align: right;
    font-weight: 400;
  }
  .text-in-rectangle:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 1s;
  }
  .about-experts:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .first-expert {
    margin-left: 1.11rem;
  }
  .second-expert {
    margin-right: 1.11rem;
  }
  .container-of-company-boxes {
    display: grid;
    grid-template-columns: 11rem 11rem 11rem;
    grid-template-rows: 10.77rem 10.77rem;
    grid-gap: 3.5rem;
    justify-content: center;
    align-items: center;
  }


  
.footer {
    padding: 1.11rem;
  }
  .footer-container {
    justify-content: space-between;
  }
  .container-of-text-in-footer {
    width: 92%;
  }
  .container-of-icons {
    width: 8%;
  }
}
